

header {
  
    background-color: #b908ff; 
    padding: 20px 0; 
}

footer {
    background-color: #b908ff;
    padding: 20px 0; 
 white;
}
nav{
    background-color: #b908ff;
}
.btn {
    background-color: #b908ff;
}

.btn-primary{
    background-color: #b908ff;

}
h6{
    color: rgb(230, 229, 229);
}
